<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel = "stylesheet" th:href = "@{/css/styles.css}"/>
</head>
<body><header>
<h1>Add Employees Here</h1>
</header>
<div class = "formsection">
<form th:action="@{/addEmployee}" method="post" th:object="${employee}">
<label>Name </label><input type="text" th:field="*{name}"><br><br>
<label>Employee Id </label><input type="text" th:field="*{emp_id}"><br><br>
<label>Sunday Hours</label> <input type="number" min="0" max="24" th:field="*{su_hr}"><br><br>
<label>Monday Hours </label><input type="number" min="0" max="24" th:field="*{mo_hr}"><br><br>
<label>Tuesday Hours </label><input type="number" min="0" max="24" th:field="*{tu_hr}"><br><br>
<label>Wednesday Hours </label><input type="number" min="0" max="24" th:field="*{we_hr}"> <br><br>
<label>Thursday Hours  </label><input type="number" min="0" max="24" th:field="*{th_hr}"><br><br>
<label>Friday Hours </label><input type="number" min="0" max="24" th:field="*{fr_hr}"><br><br>
<label>Saturday Hours </label><input type="number" min="0" max="24" th:field="*{sa_hr}"><br><br>
<label>Wage </label><input type="number" min="0" step="0.01" th:field="*{wage}"><br><br>
<div class="center-elements">
<input type="submit" value="submit"><br>
<a th:href="@{/viewEmployees}">View Employee Records</a><br>
<a th:href="@{/}">Home Page</a><br>
</form>
<br>
<form method="post" th:action="@{/logout}">
<input type="submit" value="logout">
</div>
</div>
 </body>
</html>