<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel = "stylesheet" th:href = "@{/css/styles.css}"/>
</head>
<body><header>
<h1>Add Toys Here</h1>
</header>
<div class = "formsection">
<form th:action="@{/EditEmployee}" method="post" th:object="${employee}">
<input type="hidden" th:field="*{id}">
<label>Name </label><input type="text" th:field="*{name}"><br><br>
<label>Employee Id </label><input type="text" th:field="*{emp_id}"><br><br>
<label>Sunday Hours </label><input type="number" th:field="*{su_hr}"><br><br>
<label>Monday Hours </label><input type="number" th:field="*{mo_hr}"><br><br>
<label>Tuesday Hours </label><input type="number" th:field="*{tu_hr}"><br><br>
<label>Wednesday Hours </label><input type="number" th:field="*{we_hr}"> <br><br>
<label>Thursday Hours </label><input type="number" th:field="*{th_hr}"><br><br>
<label>Friday Hours </label><input type="number" th:field="*{fr_hr}"><br><br>
<label>Saturday Hours </label><input type="number" th:field="*{sa_hr}"><br><br>
<label>Wage </label><input type="number" th:field="*{wage}"><br><br>
<div class = "center-elements">
<input type="submit" value="submit">
</form>
<br>
<form method="post" th:action="@{/logout}">
<input type="submit" value="logout">
</form>
</div>
</div>
 </body>
</html>